{% extends 'base.html.twig' %}

{% block body %}
    <h2>Give your feedback!</h2>

    {% for challenge in challenges %}
        <h4>{{ challenge }}</h4>
    {% endfor %}

    result => {{result}}
{% endblock %}