{% extends 'base.html.twig' %}

{% block body %}
    <h2>Choose a day!</h2>
    <select name="days" id="days">
    {% for challenge in challenges %}
        <option value="{{challenge}}">{{challenge}}</option>
    {% endfor %}
    </select>
    {{debug}}
{% endblock %}